/* TODO: Change these colors to match your event's palette */
/* They will be replaced in the CSS below when the SASS file is processed */
$major-text-color: rgb(42, 100, 150);
$minor-text-color: rgb(66, 139, 202);
/* Change these colors to match your event's palette */

.clear {
  clear: both;
}

/* Custom CSS */
#sessionize {

  h1, h2, h3, h4, h5 {
    text-transform: none;
  }

  .ngs-sessions-container > div {
    float: left;
  }
  .sz-spinner-container {
    width: 100%;

    .sz-spinner {
      margin: auto;
      color: $major-text-color;
    }
  }

  .ngs-refiners {
    width: 30%;

    h2 {
      color: $major-text-color;
    }

    ul.ngs-refiner-group {
      padding-left: 0;
    }

    ul.ngs-refiner-group {
      list-style: none;
      margin-left: 0;

      li {
        list-style: none;
        width: 100%;

        > div.clickable {
          cursor: pointer;
        }

        > div {
          display: inline-block;
          width: 100%;

          div {
            float: left;
          }

          div:first-child {
            width: 80%;
          }
          div:last-child {
            width: 20%;
            text-align: right;
          }

        }

      }

      li.selected div {
        background-color: #EEEEEE;
      }

    }

  }

  .ngs-sessions {

    width: 70%;

    .applied-filters {

      > div {
        float: left;
      }

      > div > div {
        float: left;
        background-color: #EEEEEE;
        padding: 3px 5px 3px 5px;
        margin: 0 5px 5px 0;
      }

      .ngs-clear {
        background-color: transparent;
        cursor: pointer;
        color: $major-text-color;
      }
    }

    .ngs-even {
      background-color: #EEEEEE;
    }
    
    .applied-filters,
    .ngs-session-count {
      margin: 0 10px;
      padding: 0 10px;
    }

    .sz-session {
      margin: 10px;
      padding: 10px;
    }
    .sz-session.sz-session--full {

      .sz-session__title {
        font-size: 1em !important;
        color: $major-text-color;
        margin: 0 auto 12px auto;
      }

      .sz-session__speaker a {
        color:$minor-text-color;
        display: flex;
        flex-direction: column;
      }

      .ngs-speaker-photos {
        padding-left: 0;

        li {
          width: 80px;
          padding-right: 5px;
          list-style: none;
          float: left;
        }

      }

      .ngs-session-tags-container {
        display: inline-block;

        > div {
          float: left;
        }

        .ngs-session-tag {
          float: left;
          background-color: rgba(17, 17, 17, 0.1);
          padding: 3px 5px 3px 5px;
          margin: 0 5px 5px 0;
        }

      }
    }

  }

  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .ngs-sessions,
    .ngs-refiners {
      width: 100%;
    }
    .ngs-sessions-container > div {
      float: none;
    }
    .ngs-sessions {
      .applied-filters,
      .ngs-session-count {
        margin: 0;
        padding: 0;
      }
      .sz-session {
        margin: 0;
        padding: 0;
      }
    }
  }

  .ngs-modal {

    .ngs-overlay {
      width: 100%;
      height: 100%;
      background-color: #EEEEEE;
    }
  }

  /* Modal Dialog */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 10;
  }

  .modal {
    display: none;
    width: 50%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    z-index: 11;
    overflow: hidden;
  }
  .active {
    display: block;
  }

  .modal-header {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
  }

  .speaker > div {
    float: left;

    .speaker-name, speaker-tagline {
      color: $major-text-color;
      text-transform: capitalize;
    }
    .speaker-name {
      font-size: 1.8em;
    }
    .speaker-tagline {
      font-size: 1em;
    }

  }

  .speaker img {
    width: 100px;
  }

  .speaker-details {
    margin-left: 10px;
  }
  .social .links {
    list-style: none;
    float: left;
  }
  .session {
    font-weight: bold;
  }

}

