<div class="overlay" ng-class="{'active': $ctrl.showModal}" ng-click="$ctrl.closeModal()"></div>


<div class="modal" ng-class="{'active': $ctrl.showModal}">

    <div ng-click="$ctrl.closeModal()">X</div>


    <div ng-bind="$ctrl.speaker.name"></div>
    <div ng-bind="$ctrl.speaker.tagLine"></div>

    <div ng-repeat="link in $ctrl.speaker.links">
        <a href="{{ link.url }}" ng-bind="link.title"></a>
    </div>

    <div ng-bind="$ctrl.speaker.bio"></div>

    <ul ng-repeat="session in $ctrl.speaker.sessions">
        <li ng-bind="session.title"></li>
    </li>


</ul>

<!--

{
"id": "adb8c574-f7a7-4f6a-af3e-9a7072c92c27",
"firstName": "Agnes",
"lastName": "Molnar",
"fullName": "Agnes Molnar",
"bio": "Agnes Molnar is CEO and Managing Consultant of Search Explained, recognized Information Architecture and Search Expert. She has worked for various companies throughout the world, architecting and implementing dozens of SharePoint and FAST Search implementations for both commercial and government organizations. Since 2008, Agnes has been awarded with the Microsoft Most Valuable Professional (MVP) Award, for actively sharing her technical expertise. She is a regular speaker at technical conferences and workshops around the globe. She has also co-authored several books and white papers. She also maintains her passion and dedication on the subject through her blog, https://SearchExplained.com, where she shares troubleshooting tips, best practices, and other useful resources in Information Architecture and Enterprise Search with a light and wholesome approach.",
"tagLine": "Managing Consultant, Search Explained, Microsoft MVP, Hungary",
"profilePicture": "https://sessionize.com/image?f=2aab5eeac7a080010657102bdfce2f1e,200,200,True,False,74-f7a7-4f6a-af3e-9a7072c92c27.ac04a9ec-8be2-4f26-aac1-3672fc4ccfb5.JPG",
"sessions": [
{
"id": 18877,
"name": "\"Quick win\" features vs. long term strategy in Search"
},
{
"id": 33664,
"name": "Enterprise Search PowerClass"
}
],
"isTopSpeaker": false,
"links": [
{
"title": "Twitter",
"url": "http://twitter.com/SearchExplained",
"linkType": "Twitter"
},
{
"title": "Blog",
"url": "https://SearchExplained.com",
"linkType": "Blog"
}
]
},

-->