<div id="sessionize" ng-cloak>

    <div class="sz-spinner" ng-show="!vm.initialized"></div>

    <div class="ngs-sessions-container" ng-if="vm.initialized">


        <div class="ngs-refiners">

            <h5>Refine results</h5>

            <div ng-repeat="(key, value) in vm.filters">

                <ng-sessionize-sessions-refiner vm="vm" refinertype="key" items="value"></ng-sessionize-sessions-refiner>

            </div>

        </div>


        <div class="ngs-sessions">

            <div class="applied-filters">

                <div ng-repeat="(key, value) in vm.filters">

                    <div ng-repeat="item in value | filter:{ selected: true} " ng-click="vm.toggle(item)">
                        <span ng-bind="item.name"></span>
                        <i class="fas fa-times fa-sm"></i>
                    </div>

                </div>
                <div class="ngs-clear" ng-show="vm.filterCount > 0" ng-click="vm.clearAll()">Clear all</div>

            </div>
            <div class="clear"></div>

            <div>
                <span ng-bind="vm.filteredSessions.length"></span> sessions
            </div>

            <div class="sz-session sz-session--full" ng-class-even="'ngs-even'" ng-repeat="session in vm.filteredSessions">

                <h3 class="sz-session__title" ng-bind="session.title"></h3>

                <div>
                    <ul class="sz-session__speakers">
                        <li class="sz-session__speaker" ng-repeat="speaker in session.speakers">
                            <a ng-bind="speaker.name" ng-click="vm.speakerModal(speaker)"></a>
                        </li>
                    </ul>

                    <ul class="ngs-speaker-photos">
                        <li ng-repeat="speaker in session.speakers">
                            <img ng-src="{{ vm.getSpeakerPhoto(speaker.id) }}"/>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>

                <div>
                    <p class="sz-session__description" ng-bind="session.description"></p>
                </div>

                <div class="ngs-session-tags-container">
                    <div class="ngs-session-tags" ng-repeat="category in session.categories">
                        <div class="ngs-session-tag" ng-repeat="item in category.categoryItems" ng-bind="item.name"></div>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>


            <ng-sessionize-speaker-modal vm="vm" speaker="vm.selectedSpeaker"></ng-sessionize-speaker-modal>


        </div>

    </div>


</div>