<div class="overlay" ng-class="{'active': $ctrl.showmodal}" ng-click="$ctrl.closeModal()"></div>


<div class="modal" ng-class="{'active': $ctrl.showmodal}">

    <div class="modal-header" ng-click="$ctrl.closeModal()">
        <i class="far fa-window-close"></i>
    </div>

    <div class="speaker">

        <div>
            <img ng-src="{{ $ctrl.speaker.profilePicture }}"/>
        </div>

        <div class="speaker-details">
            <div>
                <div class="speaker-name" ng-bind="$ctrl.speaker.fullName"></div>
                <div class="speaker-tagline" ng-bind="$ctrl.speaker.tagLine"></div>
            </div>
            <div class="social">
                <ul class="links" ng-repeat="link in $ctrl.speaker.links">
                    <li>
                        <a href="{{ link.url }}" title="{{link.linkType}}" target="_blank">
                            <i ng-if="link.linkType === 'Twitter'" class="fab fa-twitter"></i>
                            <i ng-if="link.linkType === 'Blog'" class="fas fa-pencil-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="clear"></div>

    <div ng-bind="$ctrl.speaker.bio"></div>

    <ul>
        <li class="session" ng-repeat="session in $ctrl.speaker.sessions" ng-bind="session.name"></li>
    </ul>

</div>