<div id="sessionize" ng-cloak>

    <div class="ecs-refiners">

        <h5>Refine results</h5>

        <sessionize-sessions-refiner vm="vm" refinertype="'formats'" items="vm.formats"></sessionize-sessions-refiner>
        <sessionize-sessions-refiner vm="vm" refinertype="'tracks'" items="vm.tracks"></sessionize-sessions-refiner>
        <sessionize-sessions-refiner vm="vm" refinertype="'levels'" items="vm.levels"></sessionize-sessions-refiner>
        <sessionize-sessions-refiner vm="vm" refinertype="'tags'" items="vm.tags"></sessionize-sessions-refiner>

    </div>


    <div class="ecs-sessions">

        <h1>Session Catalog</h1>

        <div>
            <div ng-repeat="filter in vm.filters.formats">
                <div ng-bind="filter.name"></div>
            </div>
        </div>
        <div>
            <div ng-repeat="filter in vm.filters.tracks">
                <div ng-bind="filter.name"></div>
            </div>
        </div>
        <div>
            <div ng-repeat="filter in vm.filters.levels">
                <div ng-bind="filter.name"></div>
            </div>
        </div>
        <div>
            <div ng-repeat="filter in vm.filters.tags">
                <div ng-bind="filter.name"></div>
            </div>
        </div>

        <div>
            <span ng-bind="vm.data.sessions.length"></span> sessions
        </div>

        <div ng-repeat="session in vm.data.sessions | filteredSessions:vm.filters">

            <h3 class="sz-session__title" ng-bind="session.title"></h3>

            <ul class="sz-session__speakers">
                <li class="sz-session__speaker" ng-repeat="speaker in session.speakers" ng-bind="speaker.name"></li>
            </ul>

            <ul class="ecs-speaker-photo">
                <li ng-repeat="speaker in session.speakers">
                    <img ng-src="{{ vm.getSpeakerPhoto(speaker.id) }}"/>
                </li>
            </ul>

            <p class="sz-session__description" ng-bind="session.description"></p>

            <div class="ecs-session-tags" ng-repeat="category in session.categories">
                <div class="sz-session__tags">
                    <li ng-repeat="item in category.categoryItems" ng-bind="item.name"></li>
                </div>
            </div>

        </div>

    </div>


</div>