<div id="sessionize">

    <div class="ecs-refiners">

        <h5>Refine results</h5>


        <sessionize-sessions-refiner items="vm.formats"></sessionize-sessions-refiner>
        <sessionize-sessions-refiner items="vm.tracks"></sessionize-sessions-refiner>
        <sessionize-sessions-refiner items="vm.levels"></sessionize-sessions-refiner>
        <sessionize-sessions-refiner items="vm.tags"></sessionize-sessions-refiner>
<!--
        <h2>Format</h2>
        <ul class="ecs-refiner-group">
            <li ng-repeat="item in vm.formats | orderBy: '-item.count'">
                <div ng-bind="item.name"></div>
                <div ng-bind="item.count"></div>
            </li>
        </ul>

        <h2>Track</h2>
        <ul class="ecs-refiner-group">
            <li ng-repeat="item in vm.tracks | orderBy: '-item.count'">
                <div ng-bind="item.name"></div>
                <div ng-bind="item.count"></div>
            </li>
        </ul>

        <h2>Level</h2>
        <ul class="ecs-refiner-group">
            <li ng-repeat="item in vm.levels | orderBy: '-item.count'">
                <div ng-bind="item.name"></div>
                <div ng-bind="item.count"></div>
            </li>
        </ul>

        <h2>Tag</h2>
        <ul class="ecs-refiner-group">
            <li ng-repeat="item in vm.tags | orderBy: '-item.count'">
                <div ng-bind="item.name"></div>
                <div ng-bind="item.count"></div>
            </li>
        </ul>
-->
    </div>


    <div class="ecs-sessions">

        <h1>Session Catalog</h1>

        <span ng-bind="vm.data.sessions.length"></span> sessions

        <div ng-repeat="session in vm.data.sessions">

            <h3 class="sz-session__title" ng-bind="session.title"></h3>

            <ul class="sz-session__speakers">
                <li class="sz-session__speaker" ng-repeat="speaker in session.speakers" ng-bind="speaker.name"></li>
            </ul>

            <p class="sz-session__description" ng-bind="session.description"></p>

            <div class="ecs-session-tags" ng-repeat="category in session.categories">
                <div class="sz-session__tags" ng-repeat="item in category.categoryItems" ng-bind="item.name"></div>
            </div>

        </div>

    </div>


</div>